<h1>Basic Details</h1>

<form novalidate>
  <div [formGroup]="userBasicForm">
    <div>
      <!-- Names not be less that 2 characters, must include a space and then a second name -->
      <label for="fullName"
        >Full name</label
      >
      <input
        id="fullName"
        autocomplete="given-name"
        type="text"
        formControlName="fullName"
      />
      <span></span>
    </div>
    <div>
      <!-- Must be a valid email address -->
      <label for="email">Email</label>
      <input
        id="email"
        autocomplete="email"
        type="email"
        inputmode="email"
        formControlName="email"
      />
      <span></span>
    </div>
    <div>
      <!-- Must not start with '+234' -->
      <!-- Must start with '070', '080', '090' or '081'  -->
      <label for="phone">Phone </label>
      <input
        id="phone"
        maxlength="11"
        minlength="11"
        autocomplete="tel-local"
        type="tel"
        inputmode="tel"
        formControlName="phone"
      />
      <span></span>
    </div>
    <div formGroupName="passwordGroup">
      <div>
        <!-- Minimum of 6 characters -->
        <!-- Must contain at least one uppercase character, one number, one special character -->
        <!-- Confirm password must match password field -->
        <label for="password"
          >Password
          </label
        >
        <input id="password" formControlName="password" type="password" />
        <span></span>
      </div>
      <div>
        <!-- Must match password -->
        <label for="confirmPassword">Confirm password</label>
        <input formControlName="confirmPassword" type="password" />
        <span></span>
      </div>
    </div>
  </div>
  <button [disabled]="userBasicForm.invalid" (click)="onNext()">Next</button>
</form>
