<div class="py-4 bg-gray-600">
  <div
    class="max-w-sm p-4 mx-auto my-10 bg-white rounded sm:px-10 sm:max-w-md"
  >
    <div class="relative mt-4">
      <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-center text-xl leading-5">
        <h1 class="px-2 font-semibold text-gray-500 bg-white">Basic details</h1>
      </div>
    </div>
    <div class="mt-6">
      <form class="w-full space-y-3" [formGroup]="basicDetailsForm">
        <div class="w-full">
          <!-- Full name -->
          <!-- Names not be less that 2 characters, must include a space and then a second name  -->
          <div>
            <label
              for="fullName"
              class="block mb-1 text-sm font-semibold text-gray-500"
              >Full name</label
            >
            <input
              autocomplete="given-name"
              type="text"
              formControlName="fullName"
              id="fullName"
              [class]="basicDetailsForm.controls.fullName?.errors?.invalid && basicDetailsForm.controls.fullName?.dirty  ?  'border-red-300  focus:border-red-500 focus:ring-2 focus:ring-red-200' : 'focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200'"
              class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-white border border-gray-300 rounded outline-none "
              placeholder="John Doe"
            />
            <span *ngIf="basicDetailsForm.controls.fullName?.errors?.invalid && basicDetailsForm.controls.fullName?.dirty" class="inline-block text-sm text-gray-600">
              Please input two names, each with more than 1 character
            </span>
            <!-- <ul *ngIf="fullNameMsg" >
              <li *ngFor="let msg of fullNameMsg" >
                <span class="inline-block text-sm text-red-500">{{
                msg
              }}</span></li>
            </ul> -->

          </div>
        </div>

        <div class="w-full">
          <!-- Email -->
          <!-- Must be a valid email -->
          <div>
            <label
              for="email"
              class="block mb-1 text-sm font-semibold text-gray-500"
              >Email</label
            >
            <input
              id="email"
              autocomplete="email"
              type="email"
              inputmode="email"
              formControlName="email"
              placeholder="john@doe.com"
              [class]="basicDetailsForm.controls.email?.invalid && basicDetailsForm.controls.email?.dirty  ?  'border-red-300  focus:border-red-500 focus:ring-2 focus:ring-red-200' : 'focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200'"
              class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-white border border-gray-300 rounded outline-none "            />
          </div>
          <span *ngIf="basicDetailsForm.controls.email.invalid && basicDetailsForm.controls.email?.dirty" class="inline-block text-sm text-gray-600">
            A valid email address has the form: abc@xyz.com
          </span>
          <!-- <div>
            <span class="inline-block text-sm text-red-500"
              >Errors go here</span
            >
          </div> -->
        </div>

        <div class="w-full">
          <!-- Phone -->
          <!-- Must not start with +234 -->
          <!-- Must start with 080... -->
          <div>
            <label
              for="phone"
              class="block mb-1 text-sm font-semibold text-gray-500"
              >Phone</label
            >
            <input
              id="phone"
              maxlength="11"
              (keypress)="preventNonNumeric($event)"
              minlength="11"
              autocomplete="tel-local"
              type="tel"
              inputmode="tel"
              formControlName="phone"
              [class]="basicDetailsForm.controls.phone?.invalid && basicDetailsForm.controls.phone?.dirty  ?  'border-red-300  focus:border-red-500 focus:ring-2 focus:ring-red-200' : 'focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200'"
              class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-white border border-gray-300 rounded outline-none "
            />
          </div>
          <span *ngIf="basicDetailsForm.controls.phone.invalid && basicDetailsForm.controls.phone?.dirty" class="inline-block text-sm text-gray-600">
            Number must be Nigerian and not start with +234
          </span>
          <!-- <div>
            <span class="inline-block text-sm text-red-500">{{
              basicDetailsForm.controls.phone.errors | json
            }}</span>
          </div> -->
        </div>

        <div formGroupName="passwordGroup">
          <div class="w-full">
            <!-- Password -->
            <!-- Must not start with '+234' -->
            <!-- Must start with '070', '080', '090' or '081'  -->
            <div>
              <label
                for="password"
                class="block mb-1 text-sm font-semibold text-gray-500"
                >Password</label
              >
              <input
                id="password"
                minlength="6"
                type="password"
                formControlName="password"
                [class]="basicDetailsForm.get('passwordGroup.password')?.invalid && basicDetailsForm.get('passwordGroup.password')?.dirty  ?  'border-red-300  focus:border-red-500 focus:ring-2 focus:ring-red-200' : 'focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200'"
                class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-white border border-gray-300 rounded outline-none "
              />
            </div>
            <span *ngIf="basicDetailsForm.get('passwordGroup.password')?.invalid && basicDetailsForm.get('passwordGroup.password')?.dirty  " class="inline-block text-sm text-gray-600">
              A valid password has more than 6 characters and has at least an uppercase, a lowercase, a number and a symbol
            </span>
            <!-- <div>
              <span class="inline-block text-sm text-red-500"
                >Errors go here</span
              >
            </div> -->
          </div>

          <div class="w-full mt-2">
            <!-- Confirm password -->
            <!-- Must match password -->
            <div>
              <label
                for="confirmPassword"
                class="block mb-1 text-sm font-semibold text-gray-500"
                >Confirm password</label
              >
              <input
                id="confirmPassword"
                minlength="6"
                type="password"
                formControlName="confirmPassword"
                [class]="basicDetailsForm.get('passwordGroup')?.invalid &&basicDetailsForm.get('passwordGroup.confirmPassword')?.dirty   ?  'border-red-300  focus:border-red-500 focus:ring-2 focus:ring-red-200' : 'focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200'"
                class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-white border border-gray-300 rounded outline-none "                />
            </div>
            <span *ngIf="basicDetailsForm.get('passwordGroup')?.invalid && basicDetailsForm.get('passwordGroup.confirmPassword')?.dirty " class="inline-block text-sm text-gray-600">
              Looks like passwords the don't match yet
            </span>
            <!-- <div>
              <span class="inline-block text-sm text-red-500"
                >Errors go here</span
              >
            </div> -->
          </div>
        </div>

        <div class="py-4">
          <span class="block w-full rounded shadow-sm">
            <button
              [disabled]="basicDetailsForm.invalid"
              (click)="onNext()"
              type="button"
              class="w-full px-4 py-2 text-base font-semibold text-center text-white transition duration-200 ease-in bg-indigo-600 rounded shadow-md disabled:cursor-not-allowed disabled:opacity-50 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
            >
              Next
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
