<div class="bg-gray-100">
  <div
    class="flex flex-col justify-center w-full h-screen px-8 py-6 sm:px-6 lg:px-8"
  >
    <h1 class="text-4xl font-extrabold text-black dark:text-white sm:text-6xl">
      <span class="block text-center">
        <span class="text-blue-500">Soft Form </span>
        <span class="text-red-500">(Angular)</span>
      </span>
    </h1>
    <div class="flex flex-col items-center justify-center mt-6 space-y-2">
      <p
        class="text-base leading-snug text-center text-gray-500 lg:w-2/3 sm:text-lg lg:text-2xl"
      >
        Forms with complex input validation and input masking scenarios.
      </p>
      <p
        class="text-base text-center text-red-500 lg:w-2/3 sm:text-lg lg:text-2xl"
      >
        Built using Angular Reactive Forms.
      </p>
    </div>
    <div
      class="flex flex-col items-center justify-center mt-6 space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4"
    >
      <button
        [routerLink]="['/basic-details-form']"
        role="link"
        type="button"
        class="px-4 py-2 text-base font-semibold text-center text-blue-600 transition duration-200 ease-in bg-white rounded-lg shadow-md sm:text-lg lg:text-2xl focus:ring-blue-500 focus:ring-offset-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
      >
        View
      </button>
      <button
        (click)="specificationsContainer.scrollIntoView({ behavior: 'smooth' })"
        type="button"
        class="px-4 py-2 text-base font-semibold text-center text-white transition duration-200 ease-in bg-blue-500 rounded-lg shadow-md sm:text-lg lg:text-2xl hover:bg-blue-600 focus:ring-blue-500 focus:ring-offset-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
      >
        See specifications
      </button>
    </div>
  </div>
</div>

<div class="block p-4 sm:px-12" #specificationsContainer>
  <h2 class="py-2 text-3xl font-extrabold text-gray-900 sm:text-5xl">
    specifications
  </h2>
  <div class="text-gray-900 sm:text-xl">
    <p>Build a form with form fields that meets the description below</p>
    <ul class="grid py-6 -m-2 phone:grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
      <li
        *ngFor="let spec of specs"
        class="m-2 text-left transition ease-in-out transform border border-gray-700 rounded-sm duration-300 hover:-translate-y-0.5"
      >
        <div class="flex h-full p-4">
          <div class="flex-grow">
            <span
              class="inline-block text-lg font-medium text-gray-900 lowercase sm:text-xl"
            >
              {{ spec.title }}
            </span>
            <ol class="text-sm text-gray-500">
              <li
                *ngFor="let desc of spec.descs; index as index"
                class="smt:text-lg"
              >
                {{ index + 1 }}. {{ desc }}
              </li>
            </ol>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="flex items-center justify-center">
  <button
    [routerLink]="['/basic-details-form']"
    role="link"
    type="button"
    class="px-8 py-2 text-base font-semibold text-center text-white transition duration-200 ease-in bg-blue-500 rounded-lg shadow-md hover:bg-blue-600 sm:text-lg lg:text-2xl focus:ring-blue-500 focus:ring-offset-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2"
  >
    View
  </button>
</div>

<div class="block p-4 sm:px-12">
  <h2 class="py-2 text-3xl font-extrabold text-gray-900 sm:text-5xl">
    planned features
  </h2>
  <div class="text-gray-900">
    <ul class="grid py-6 -m-2 phone:grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
      <li
        class="m-2 text-left transition ease-in-out transform border border-gray-700 rounded-sm duration-300 hover:-translate-y-0.5"
      >
        <div class="flex items-center h-full p-4">
          <section class="flex-grow">
            <h3
              class="inline-block text-lg font-medium text-gray-900 lowercase"
            >
              user feedback and guides on errors
            </h3>
            <p class="text-sm text-gray-500">
              Form controls give feedback to user on what they may be doing
              wrong and how to correct it, including toggling to view password
            </p>
          </section>
        </div>
      </li>
      <li
        class="m-2 text-left transition ease-in-out transform border border-gray-700 rounded-sm duration-300 hover:-translate-y-0.5"
      >
        <div class="flex items-center h-full p-4">
          <section class="flex-grow">
            <h3
              class="inline-block text-lg font-medium text-gray-900 lowercase"
            >
              tests
            </h3>
            <p class="text-sm text-gray-500"></p>
          </section>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="block px-4 pt-0 pb-8 text-center sm:px-12">
  <div class="text-xl text-gray-900 sm:text-2xl">
    <p>I built this project in ReactJS too.</p>
    <p>
      It's source code is at
      <a
        href="https://github.com/sudo-kaizen/soft-form"
        class="text-blue-600 hover:underline"
        >soft-form</a
      >
      on my Github
    </p>
  </div>
</div>
<footer
  class="block p-4 text-gray-500 transition-colors duration-200 bg-gray-100 sm:px-12"
>
  <div class="flex flex-col">
    <div class="h-px mx-auto rounded-full md:hidden mt-7 w-11"></div>
    <div class="flex flex-col mt-4 md:mt-0 md:flex-row">
      <nav
        class="flex flex-col items-center justify-center flex-1 border-gray-100 md:items-end md:border-r md:pr-5"
      >
        <a
          href="https://angular.io/start"
          class="hover:text-gray-700 dark:hover:text-white"
        >
          Angular
        </a>
        <a
          href="https://tailwindcss.com/"
          class="hover:text-gray-700 dark:hover:text-white"
        >
          TailwindCSS
        </a>
        <a
          href="https://www.tailwind-kit.com/#"
          class="hover:text-gray-700 dark:hover:text-white"
        >
          Tail-kit UI
        </a>
      </nav>
      <div class="h-px mx-auto mt-4 rounded-full md:hidden w-11"></div>
      <div
        class="flex items-center justify-center flex-1 mt-4 border-gray-100 md:mt-0 md:border-r"
      >
        <a
          class="hover:text-primary-gray-20"
          href="https://github.com/sudo-kaizen/soft-form-angular"
        >
          <span class="sr-only"> View on GitHub </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="text-xl transition-colors duration-200 hover:text-gray-800 dark:hover:text-white"
            viewBox="0 0 1792 1792"
          >
            <path
              d="M896 128q209 0 385.5 103t279.5 279.5 103 385.5q0 251-146.5 451.5t-378.5 277.5q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-119-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-85-13.5q-45 113-8 204-79 87-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-39 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103zm-477 1103q3-7-7-12-10-3-13 2-3 7 7 12 9 6 13-2zm31 34q7-5-2-16-10-9-16-3-7 5 2 16 10 10 16 3zm30 45q9-7 0-19-8-13-17-6-9 5 0 18t17 7zm42 42q8-8-4-19-12-12-20-3-9 8 4 19 12 12 20 3zm57 25q3-11-13-16-15-4-19 7t13 15q15 6 19-6zm63 5q0-13-17-11-16 0-16 11 0 13 17 11 16 0 16-11zm58-10q-2-11-18-9-16 3-14 15t18 8 14-14z"
            ></path>
          </svg>
        </a>
      </div>
      <div class="h-px mx-auto mt-4 rounded-full md:hidden w-11"></div>
      <div
        class="flex flex-col items-center justify-center flex-1 mt-7 md:mt-0 md:items-start md:pl-5"
      >
        <span class=""> © {{ currentYear }} </span>
        <span class="mt-7 md:mt-1">
          Created by
          <a
            class="underline hover:text-primary-gray-20"
            href="https://www.linkedin.com/in/orimdominicadah/"
          >
            Orim Dominic
          </a>
        </span>
      </div>
    </div>
  </div>
</footer>
